debug*log
plugins/dummy/f4-dummy-plugin
f4
f4.exe
*.exe~
f4-gui.exe
f4.ini
plugins/dummy_internal/f4-internal-dummy-plugin
plugins/dummy_rpc/f4-rpc-dummy-plugin
dummy_rpc_plugin
_failed_tests_f4.log
rsrc_windows_amd64.syso
rsrc_windows_arm64.syso
Profile/
afix.ap
afailed.*
.codex-build/
/build/
AGENTS.md
